{{/* gotype: entgo.io/ent/entc/gen.Type*/}}

{{ define "meta/additional" }}

const (
{{- if $.HasOneFieldID }}
    // Order{{ $.ID.Constant }} 表示主键对应的排序参数
    Order{{ $.ID.Constant }} = "{{ camel $.ID.Name }}"
{{- end }}
{{- range $f := $.Fields }}
    {{- $field := $f.Constant }}
    // Order{{ $field }} 表示 {{ $f.Name }} 字段对应的排序参数
    Order{{ $field }} = "{{ camel $f.Name }}"
{{- end }}
)

var OrderFields = map[string]string{
{{- if $.HasOneFieldID }}
    {{ $.ID.Constant }}: Order{{ $.ID.Constant }},
{{- end }}
{{- range $f := $.Fields }}
    {{- $field := $f.Constant }}
    {{ $field }}: Order{{ $field }},
{{- end }}
}

// GetOrderFields 根据数据库列名返回排序参数与数据库列的映射
func GetOrderFields(field string) (orderFields map[string]string) {
    orderFields = make(map[string]string)
    if v, ok := OrderFields[field]; ok {
        orderFields[v] = field
    }
    return
}

{{ end }}
