{{- /*gotype: nexis.run/nexa/cmd/nexa/internal/entgen.schemaTemplateVariables*/ -}}
package schema

import (
    "entgo.io/ent"
    "entgo.io/ent/dialect/entsql"
    "entgo.io/ent/schema"
    "nexis.run/nexa/kit/entx"
)

// {{ .Name }} holds the schema definition for the {{ .Name }} entity.
type {{ .Name }} struct {
    ent.Schema
}

// Annotations of the {{ .Name }}.
func ({{ .Name }}) Annotations() []schema.Annotation {
    return []schema.Annotation{
        entsql.Annotation{Table: "{{ snake .Name }}"},
        entsql.WithComments(true),
    }
}

// Fields of the {{ .Name }}.
func ({{ .Name }}) Fields() []ent.Field {
    return []ent.Field{
    }
}

// Indexes of the {{ .Name }}.
func ({{ .Name }}) Indexes() []ent.Index {
    return []ent.Index{}
}

// Edges of the {{ .Name }}.
func ({{ .Name }}) Edges() []ent.Edge {
    return nil
}

// Mixin of the {{ .Name }}.
func ({{ .Name }}) Mixin() []ent.Mixin {
    return []ent.Mixin{
        entx.TimeMixin{},
{{- if .SoftDelete }}
        entx.SoftDeleteMixin{},
{{- end }}
    }
}
