{{ define "dialect/sql/create/additional/nexa_upsert_save" }}
{{ if $.FeatureEnabled "sql/upsert" }}
{{ $upsertOne := print $.Name "UpsertOne" }}

// Save 执行插入或更新，并查询数据库中持久化后的实体
func (u *{{ $upsertOne }}) Save(ctx context.Context) (*{{ $.Name }}, error) {
    client := &{{ $.ClientName }}{config: u.create.config}
    {{- if $.HasOneFieldID }}
    id, err := u.ID(ctx)
    if err != nil {
        return nil, err
    }
    return client.Get(ctx, id)
    {{- else }}
    if err := u.Exec(ctx); err != nil {
        return nil, err
    }
    {{- range $id := $.EdgeSchema.ID }}
    key{{ $id.StructField }}, exists{{ $id.StructField }} := u.create.mutation.{{ $id.MutationGet }}()
    if !exists{{ $id.StructField }} {
        return nil, errors.New("缺少复合主键：{{ $id.Name }}")
    }
    {{- end }}
    return client.Query().Where(
        {{- range $id := $.EdgeSchema.ID }}
        {{ $.Package }}.{{ $id.StructField }}(key{{ $id.StructField }}),
        {{- end }}
    ).Only(ctx)
    {{- end }}
}

// SaveX 调用 Save，失败时触发 panic
func (u *{{ $upsertOne }}) SaveX(ctx context.Context) *{{ $.Name }} {
    entity, err := u.Save(ctx)
    if err != nil {
        panic(err)
    }
    return entity
}
{{ end }}
{{ end }}
